astroid
backports.entry-points-selectable
click
distlib
filelock
Flask
Flask-SQLAlchemy
greenlet
gunicorn
isort
itsdangerous
Jinja2
lazy-object-proxy
MarkupSafe
mccabe
pip
platformdirs
pylint
python-dotenv
setuptools
six
toml
virtualenv
Werkzeug
wrapt
flask-cors
